:root {
    --titlebar-color: maroon;
    --hover-hilite-color: rgba(128,0,0,0.5);
    --small-header-color: #333;    
}

body {
    scrollbar-width: thin;
}


ui-caption {
	display:flex;
}
/*
	PANEL
*/
ui-panel {
	display: flex;
	position: relative;		
}
ui-panel.column {
	flex-direction: column;
}
.ui-panel.center {
	align-items: center;
}
.panel-frame {
	margin:1px;	
	border:1px solid gray;	
}

/*
    BUTTON
*/
ui-button {
	cursor: pointer;
}
ui-button:not(.close-window) {
	background-color: rgba(255,0,0,0.5);
	box-shadow:0px 0px 2px 2px black, 0px 0px 0px 5px red;
	padding:0.2em 1.5em;
	margin:1em;
	width:4em;
	text-align: center;
	border-radius: 1.5em;
	transition: 150ms box-shadow;
}
ui-button:hover:not(.close-window) {
	box-shadow:0px 0px 2px 2px black, 0px 0px 0px 5px white;
}

/*
    WINDOW
*/
ui-window, ui-window input, ui-window textarea {
	font-family:arial;
	font-size:12px;
}
ui-window {
	position: absolute;
	box-shadow:5px 5px 20px 1px rgba(0,0,0,0.5);
	border:1px solid black;	
	pointer-events: auto;
	display: flex;	
}
ui-window > .frame {
	display: flex;
	flex-direction: column;
	background-color: rgba(0,0,0,0.85);
	border: 1px solid gray;
	padding:1px;
}
ui-window.modal {
	z-index:1;
	inset:0px;
	background-color: rgba(0,0,0,0.8);
}
ui-window.modal > .frame {
	inset:0px;
	margin: auto;
	background-color: rgba(0,0,0,0.75);
}
ui-window > .frame > .head {
	display: flex;
	position: relative;
	font:14px arial;
	padding:4px 6px;
    padding-right:2em;
	background-color: var(--titlebar-color);
	color:white;		
	align-items: center;
    border-bottom:1px solid black;
}
ui-window > .frame > .head > ui-button.close-window {
	position: absolute;
	display: flex;
	right: 0px;
	width: 1.5em;
	height: 100%;
	color:white;
	background-color: red;
	justify-content: center;
	align-items: center;
}
ui-window > .frame > .body {
	display: flex;
	flex: 1;
    padding:0px;
	position: relative;	
	overflow-y: auto;			
	flex-direction: column;	
}

ui-window.modal.dialog .body ui-button {	
	margin:1em;
}
ui-window.modal.dialog > .frame > .body {	
	padding:2em;
}

/*
	EDIT
*/
ui-edit {
	display: flex;
}
ui-edit input {
	margin:1px;
	border-radius:8px;
	padding:2px 5px;
	width:calc(100% - 17px);
}
ui-edit ui-caption {
	margin:0px 8px 0px 1px;
}

/*
    CUSTOMLIST
*/
ui-customlist .body.grid {
	display:grid;		
	gap:4px;
	grid:64px 64px 64px auto / 64px 64px 64px auto;	
}
ui-customlist .body.row {
	display:flex;			
	flex-direction: column;		
}
ui-customlist .body.column {
	display:flex;		
}
ui-customlist .body > div {    
	transition: border 300ms;    	
    border:1px solid transparent;
    border-radius:5px;    
    opacity:0.7;
	padding:1px;
	margin:1px;	
}
ui-customlist .body > div:hover {    
	border:1px solid red;		    
}
ui-customlist .body > .selected {    	
    opacity:1;
    border:1px solid white;
}
ui-customlist .body img {    
	width:100%;
	height:100%;
}

/*
    FILELIST
*/
ui-filelist {    
	min-width:18em;	
	max-height: 100px;
	height: 100px;
	overflow-y: auto;
}
ui-filelist table {
	width: calc(100% - 2px);
	height: 98px;
	border-collapse: collapse;
}
ui-filelist thead {
	padding:2px 5px;    		
}
ui-filelist thead tr {
	background-color:var(--small-header-color);	
	top:0;
	position: sticky;	
	z-index: 1;	
}
ui-filelist th:nth-child(1) {								/* header columns */
	max-width:60%;
	width:60%;
	text-align:left;
}
ui-filelist th:nth-child(2) {    
	width:30%;
    text-align: right;	
}
ui-filelist th:nth-child(3) {	
	width:10%;
    padding-left:1em;
}
ui-filelist tr {
    padding:2px 5px;
    height:1.2em;
}
ui-filelist tr:nth-child(even) {
    background-color: rgb(20,20,20,0.5);
}
ui-filelist tr:hover {
    background-color: var(--hover-hilite-color);
}
ui-filelist td:nth-child(1) {
    width:60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
ui-filelist td:nth-child(2) {
    width:30%;
    text-align: right;    	
}
ui-filelist td:nth-child(3) {
	width:10%;   
	padding-left:1em;
	text-align: center; 
}
ui-filelist td img {	
    margin:auto;
    max-height: 1em;    
	height:100%;
    filter:invert(1);
}
