:root {
    --titlebar-color: maroon;
    --hover-hilite-color: rgba(128,0,0,0.5);
    --small-header-color: #333;    
}

body {
    scrollbar-width: thin;
}

ui-panel {
	display: flex;
	position: relative;	
	flex: 1;
}
ui-panel.center {
	align-items: center;
}
.panel-frame.column {
	flex-direction: column;
}
.panel-frame.row {
	flex-direction: row;
}
.panel-frame {
	display: flex;
	position: relative;
	border:1px solid black;		
}

ui-radiobutton {
	display: flex;
}
ui-radiobutton.radio-left {
	flex-direction: row-reverse;
}

ui-edit {
	margin:1px;
	display:flex;
	align-items: center;	
}
ui-edit > ui-caption {
	font-size:14px;
	margin:1px;	
}
ui-edit > input {
	font-size:14px;
	margin:1px;
	border-radius:8px;
	padding:0px 4px;
}

/*
    SWITCH
*/
ui-switch, ui-slider {
	width:100%;
}
/*
    MENU
*/
ui-menu {	
	cursor: pointer;
	position: absolute;
	background-color: rgba(80,0,0,1);
	border:1px solid red;
	box-shadow:0px 0px 5px 1px black;
	padding-top:2px;
	padding-bottom:2px;	
}
ui-menu .body {
	display: flex;
	flex-direction: column;
}
ui-menu .body > ui-menuitem {
	display: block;
	padding-left:1em;
	padding-right:1em;
	padding-top:1px;
	padding-bottom:1px;
	margin:1px;
}
ui-menu .body > ui-menuitem:hover {
	background-color: rgba(160,0,0,1);
}
ui-menu ui-menudivider {
	margin:4px;
	border-bottom:1px solid rgba(160, 0, 0, 1);	
}
/*
    BUTTON
*/
ui-button {
	cursor: pointer;
}
ui-button:not(.close-window) {
	background-color: rgba(255,0,0,0.5);
	box-shadow:0px 0px 2px 2px black, 0px 0px 0px 5px red;
	padding:0.25em 1.5em;
	margin:5px;
	width:4em;
	text-align: center;
	border-radius: 1.5em;
	transition: 150ms box-shadow;
}
ui-button:hover:not(.close-window) {
	box-shadow:0px 0px 2px 2px black, 0px 0px 0px 5px white;
}

/*
    WINDOW
*/
ui-window {
	position: absolute;
	left:10px;
	top:10px;	
	box-shadow:5px 5px 20px 1px rgba(0,0,0,0.5);
	border:1px solid black;	
	pointer-events: auto;
	display: flex;	
}
ui-window > .frame {
	display: flex;
	flex-direction: column;
	background-color: rgba(0,0,0,0.85);
}
ui-window.modal {
	inset:0px;
	background-color: rgba(0,0,0,0.3);
}
ui-window.modal > .frame {
	inset:0px;
	margin: auto;
	background-color: rgba(0,0,0,0.75);
}
ui-window.modal > .frame > .body {
	padding:2em;
}
ui-window > .frame > .head {
	display: flex;
	position: relative;
	font:14px arial;
	padding:4px 6px;
    padding-right:2em;
	background-color: var(--titlebar-color);
	color:white;		
	align-items: center;
    border-bottom:1px solid black;
}
ui-window > .frame > .head > ui-button.close-window {
	position: absolute;
	display: flex;
	right: 0px;
	width: 1.5em;
	height: 100%;
	color:white;
	background-color: red;
	justify-content: center;
	align-items: center;
}
ui-window > .frame > .body {
	display: flex;
	flex: 1;
    padding:0px;
	position: relative;	
	overflow-y: auto;			
	flex-direction: column;	
}
ui-window.modal.dialog .body ui-button {	
	margin:1em;
}

/*
    CUSTOMLIST
*/
ui-customlist > .panel-frame > .body {
	margin:1px;
	position: relative;
	display:grid;		
	gap: 2px;
	grid: repeat(4, 64px) / auto-flow;
}
ui-customlist > .panel-frame > .body > div {    
	transition: border 300ms;    	
    border:1px solid transparent;
    border-radius:5px;    
    opacity:0.7;	
	z-index: 1;
	margin:1px;
	padding:1px;
}
ui-customlist > .panel-frame > .body > div:hover {    
	border:1px solid red;		    	
}
ui-customlist > .panel-frame > .body > .selected {    	
    opacity:1;
    border:1px solid white;
}
ui-customlist > .panel-frame > .body > div > img {    
	position: relative;	
	width:58px;
}

/*
    FILELIST
*/
ui-filelist {
    font-size:12px;    
}
ui-filelist > .head {
    display: flex;
    padding:2px 5px;
    background-color:var(--small-header-color);
}
ui-filelist > .head :nth-child(1) {
    width:10em;    
}
ui-filelist > .head :nth-child(2) {
    width:6em;    
    text-align: right;
}
ui-filelist > .head :nth-child(3) {
    padding-left:1em;
}
ui-filelist > .body {
    max-height: 12em;
    overflow-y: auto;
}
ui-filelist > .body > div {
    display: flex;
    padding:0px 5px;
    height:1.2em;
}
ui-filelist > .body > div:nth-child(even) {
    background-color: rgb(20,20,20,0.5);
}
ui-filelist > .body > div:hover {
    background-color: var(--hover-hilite-color);
}
ui-filelist > .body > div :nth-child(1) {
    width:10em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
ui-filelist > .body > div :nth-child(2) {
    width:6em;
    text-align: right;    
}
ui-filelist > .body img {
    padding-left:1em;
    max-height: 1em;
    width:auto;
    filter:invert(1);
}
